# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# Spring Boot
spring-boot-*.log
*.pid

# Log files
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Application sensitive files
application-local.yml
application-local.properties
application-secret.yml
application-secret.properties
*.pem
*.key

dist/
/src/main/resources/static/

# H2 Database
data/